{% extends "main.html" %}
{% block content %}

<h1>Edit Item</h1>

<form method='post'>
    <p>Name:</p>
        <input type="text" size="30" name="name" value="{{item.name}}">
    <p>Description:</p>
        <input type="text" size="30" name="description" value="{{item.description}}">
    <p>Category</p>
        <select type="number" name="category">
            {% for i in categories %}
            <option value="{{ i.id }}" {% if item.category_id == i.id %} selected {% endif %}>{{ i.name }}</option>
            {% endfor %}             
        </select>
    </br>

<input type="submit" name="Create">

</form>

{% endblock %}